@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

h1 {
  padding-top: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Bungee Shade", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  height: 175px;
}

.settings-button {
  position: absolute;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  top: 20px;
  right: 20px;
}
