@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

h1 {
  padding-top: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Bungee Shade", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  height: 175px;
}

.settings-button {
  border-radius: 50%;
  display: inline-block;
  float: right;
  height: 75px;
}
