.controls {
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.new-number {
  margin: 3px;
  width: 34px;
  border-radius: 5%;
}

#favorites{
  display: flex;
  margin: auto;
  width: 100px;
  justify-content: space-around;
  text-align: center;
}
