.joke-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-jokes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.single-joke {
  display: inline-block;
  flex-grow: 1;
  height: 150px;
  max-width: 28%;
  margin: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.favorites-button{
  margin-left: 90%;
  font-size: 30px;
  color: white;
  background-color: transparent;
}

.favorited{
  color: yellow;
}
