.FeatureJoke {
  border: 1px dotted white;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;

}
